body {
    margin: 0;
    box-sizing: border-box;
}

#the_booleaner_logo {
    width: 250px;
}

#top_header {
    height: 90px;
    padding-left: 10px;
    padding-top: 60px;
    background-image: url("../img/pattern.png");
    background-color: rgba(78,160,255,255);
}

h1 {
    margin-block-end: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
}

#author {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    color: rgba(135,135,135,255);
}

#author_name {
    color: rgba(110,198,237,255);
}

#publication_date {
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(135,135,135,255);
}

#figure_header {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.header_img {
    height: 480px;
}

